<?xml version="1.0" encoding="UTF-8"?>
<server>
    <game-server>
        <platform>0</platform>
        <server_id>10001</server_id>
        <server_port>9528</server_port>
        <server_name>GameServer</server_name>
    </game-server>
        <!-- http后台管理 -->
    <http-server>
        <http_port>8080</http_port>
        <white_ips>127.0.0.1;127.0.0.1;192.168.*;</white_ips>
    </http-server>
    <redis-server>
        <pwd>foobared-winturn</pwd>
        <ips>127.0.0.1:7000</ips>
    </redis-server>
</server>